*{margin: 0; padding: 0; box-sizing: border-box;}

li {list-style: none;}
a {text-decoration: none; color:inherit;}
/* body태그에 color를 줘도 상속되는 것 color-inherit(상속) */
img {border:none; vertical-align: top;}
img,video {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight: normal;}
em, address {font-style:normal;}
strong {font-weight: normal;}
table {border-collapse:collapse; border:none;}
th {text-align:left;font-weight:normal;}
/* table heading */
/* caption 시각장애인용 */
caption {width:0;height:0;overflow: hidden;font-size:1px;color:transparent;}
/* font-size:0은 못읽는 스크린이 있어서 1px로 줘야한다? */
/* form(양식) fieldset(영역)생략해도됨 legend(접근성요소) 한 세트  */

legend, 
.blind{position: absolute; left:-999px;}
.hide {display:none;}
/* display:none(스크린에서 읽어주지 못하는것) blind화면 밖으로 숨기는 것(스크린에서 읽어줌-시각장애인용) */
fieldset {border: none;}
input[type="text"], input[type="password"], input[type="email"],input[type="tel"] {border:1px solid #aaa;background-color:#fff;}